#App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  text-align: center;
}

.questions {
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
}

.question {
  text-align: center;
  justify-content: center;
  border: 1mm solid #1b486d;
  border-radius: 5mm;
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.done {
  color: green;
}
.todo {
  color: red;
}

input {
  margin: 50px 0 50px 0;
  overflow: hidden;
  background-color: #e9e9e9;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/*==========  Structure  ==========*/
.btn-push {
  position: relative;
  top: 0px;
  text-decoration: none;
  font-size: 25px;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 0 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Active State  ==========*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Navy  ==========*/
.btn-push.navy {
  background: #1b486d;
  border: 1px solid #07121b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #07121b;
  -moz-box-shadow: 0px 5px 0px #07121b;
  -ms-box-shadow: 0px 5px 0px #07121b;
  -o-box-shadow: 0px 5px 0px #07121b;
  box-shadow: 0px 5px 0px #07121b;
  color: #fff;
  text-shadow: 1px 1px 1px #07121b;
}
